@import "../../scss//variables.scss";

.tag {
  text-decoration: none;
  font-size: 18px !important;
  font-weight: 600;
  margin-bottom: 6px;
  color: $text-primary;
  display: inline-block;
  box-shadow: 0px 2px 6px rgb(7 10 25 / 10%);
  padding: 6px 8px 4px;
  line-height: 1.2;
  background: #fff;
  &:hover {
    color: $primary-color;
  }
  &::before {
    content: "#";
    color: $primary-color;
    margin-right: 3px;
    backface-visibility: hidden;
  }
}
