@import "../../../scss/variables.scss";

.createPost {
  padding: 50px 0;

  .form {
    width: 90%;
    margin: auto;
    box-shadow: $box-shadow;
    background-color: #fff;
    padding: 10px 15px;
    position: relative;
    padding-top: 10px;
    &__title {
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 40px;
    }

    &__profile-pics {
      display: flex;
      flex-direction: column;
      img {
        width: 100%;
        height: 350px;

        margin-bottom: 15px;
      }
    }

    .form-group {
      margin: 20px 0;
    }

    &__label {
      font-size: 16px;
      font-weight: 500;
      margin-bottom: 4px;
    }

    &__input {
      border: 1px solid $dashboard-color-secondary;
      border-radius: 0;
      outline: none;
      &:focus {
        box-shadow: none;
        border: 1px solid $dashboard-color-primary;
      }
    }

    &__link {
      text-decoration: none;
      color: $dashboard-color-primary;
    }

    &__btn {
      position: absolute;
      left: 35%;
      bottom: -20px;
      padding: 10px 25px;
      width: 30%;
      background-color: $dashboard-color-secondary;
      border: none;
      color: #fff;
      font-size: 18px;
      &:hover {
        background-color: $dashboard-color-primary;
      }
    }

    .icon-box {
      display: flex;
      align-items: center;
    }

    &__icon {
      color: #fff;
      background-color: $dashboard-color-secondary;
      padding: 8px 8px;
      cursor: pointer;
      &:hover {
        background-color: $dashboard-color-primary;
      }
    }
  }
}
