@import "../../../scss//variables.scss";
.user-sidenav {
  .logo {
    margin-top: 20px;
    text-align: center;
    &__name {
      text-decoration: none;
      color: $secondary-color;
      font-size: 24px;
      font-weight: 900;
      letter-spacing: 3px;
    }

    &__word {
      color: $primary-color;
    }
  }

  .list {
    list-style: none;
    padding: 0 !important;
    margin-top: 30px;

    &__link {
      display: flex;
      align-items: center;
      text-decoration: none;
      margin: 8px 0;
      text-transform: capitalize;
      font-size: 10px;
      padding: 10px;
      color: $primary-color;

      &:hover {
        text-decoration: none;
        cursor: pointer;
        background: $primary-color;
        p,
        svg {
          color: #fff;
        }
      }
    }

    &__icon {
      font-size: 14px;
      width: 30px;
      text-align: center;
      display: inline-block;
    }

    &__name {
      margin: 0;
      font-weight: 500;
    }
  }

  .active {
    background: $primary-color;
    p,
    svg {
      color: #fff;
    }
  }
}
