@import "../../scss/variables.scss";
@import "../../scss/mixins.scss";

.post {
  margin: 20px 0;
  margin-right: 20px;
  background: #fff;
  border-radius: 16px;
  &__warper {
    padding: 20px 30px;
  }
  &__cover {
    width: 100%;
    @include break(xsmall) {
      height: 300px !important;
    }
    .fullimg {
      width: 100%;
      aspect-ratio: 16/9;
      box-shadow: 0 3px 5px -2px rgb(7 10 25 / 20%);
      background-repeat: no-repeat !important;
      background-position: center center !important;
      background-size: cover !important;
    }
  }
  &__header {
    margin-bottom: 5px;
  }

  &__title a {
    font-size: 38px;
    margin-bottom: 5px;
    font-weight: 700;
    color: $text-primary;
    text-decoration: none;
    &:hover {
      color: #454360;
    }
  }

  &__body {
    margin: 5px 0;
  }
  &__content {
    font-size: 18px;
    font-weight: 500;
    color: #596172;
    line-height: 2;
    text-align: justify;
    @include break(xsmall) {
      font-size: 16px;
    }
  }

  &__author {
    margin-top: 30px;
    display: flex;
    gap: 6px;
    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      box-shadow: $icon-shadow;
      object-fit: cover;
    }
    a {
      margin-bottom: 0px;
      text-decoration: none;
      color: #596172;
      font-size: 18px;
      width: 100%;
      height: auto;
    }
    .meta {
      display: flex;
      justify-content: center;
      .datetime {
        font-size: 16px;
        color: #596172;
      }

      .read-time {
        color: #596172;
        margin-left: 15px;
        &::before {
          content: "";
          display: inline-block;
          width: 8px;
          height: 2px;
          background: $primary-color;
          vertical-align: middle;
          margin-right: 8px;
        }
      }

      &__row {
        margin-left: 15px;
        display: flex;
        align-items: center;
        .icon {
          color: $primary-color;
          margin-right: 3px;
        }
      }

      .bookmark-icon {
        color: $primary-color;
        margin-left: 8px;
        font-size: 22px;
        cursor: pointer;
      }
    }
  }

  &__comment {
    margin-top: 30px;
    display: flex;
    align-items: center;
    gap: 25px;
    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      box-shadow: $icon-shadow;
      object-fit: cover;
    }
    a {
      margin-bottom: 0px;
      text-decoration: none;
      color: #596172;
      font-size: 18px;
      width: 100%;
      height: auto;
    }
    .meta {
      font-size: 18px;
    }
    .delete-icon {
      font-size: 28px;
      margin-left: auto;
      cursor: pointer;
      color: red;
    }
  }

  .footer {
    margin-top: 50px;
    padding: 50px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p {
      margin-bottom: 25px;
      color: $text-primary;
      font-weight: 700;
    }
    .tags {
      display: flex;
    }
  }
}
