@import "../../scss/variables.scss";

.singlePost {
  .article {
    margin: 20px 0;
    margin-right: 20px;
    background: #fff;
    // padding: 50px 30px;
    box-shadow: $box-shadow;
    .top {
      .thumb {
        width: 100%;
        height: 400px;
        position: relative;

        .fullimg {
          width: 100%;
          height: 100% !important;
          z-index: 1;
          box-shadow: 0 3px 5px -2px rgb(7 10 25 / 20%);
          background-repeat: no-repeat !important;
          background-position: center center !important;
          background-size: cover !important;
        }
      }

      .info {
        font-size: 15px;
        margin-bottom: 5px;
        letter-spacing: 0.25px;
        text-align: center;
        .title a {
          font-size: 28px;
          margin-bottom: 5px;
          word-break: break-word;
          letter-spacing: 0.25px;
          font-weight: 700;
          line-height: 1.45;
          letter-spacing: 0px;
          color: $text-primary;
          text-decoration: none;
          &:hover {
            color: #454360;
          }
        }

        .meta {
          display: flex;
          justify-content: center;
          .datetime {
            font-size: 16px;
            color: #596172;
          }

          .read-time {
            color: #596172;
            margin-left: 15px;
            &::before {
              content: "";
              display: inline-block;
              width: 8px;
              height: 2px;
              background: $color-primary;
              vertical-align: middle;
              margin-right: 8px;
            }
          }

          &__row {
            margin-left: 15px;
            display: flex;
            align-items: center;
            .icon {
              color: $color-primary;
              margin-right: 3px;
            }
          }
        }
      }
    }

    .body {
      margin: 20px 0;
      padding: 50px 30px;
      &__content {
        font-size: 18px;
        line-height: 1.8;
        font-weight: 500;
        color: #596172;
      }
    }

    .footer {
      margin-top: 50px;
      padding: 50px 30px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      p {
        margin-bottom: 25px;
        color: $text-primary;
        font-weight: 700;
      }
      .tags {
        display: flex;
      }
    }
  }
}
