@import "../../scss//variables.scss";

.dashboard {
  &__sidenav {
    position: fixed;
    max-height: 100vh;
    width: 220px;
    z-index: 1;
    top: 20;
    left: 0;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__main {
    margin-left: 220px;
    min-height: 100vh;
    background: #ececec;
    padding: 30px;
  }
}
