@import "../../scss/mixins.scss";

.home {
  @include break(small) {
    .container {
      max-width: 100% !important;
    }
  }
  .grid {
    padding-top: 70px;

    .main {
      display: flex;
      // #Small devices - Smartphones - landscape 📱- 767.98px and ⬇
      @include break(small) {
        display: block;
        &__nav {
          display: none;
        }
      }
    }
  }
}
