@import "../../../scss/variables.scss";
.button {
  border: none;
  padding: 8px 25px;
  font-size: 16px;
  border-radius: $button-radius;
  &--primary {
    background-color: $primary-color;
    color: #fff;
  }
}
