@import "../../scss/variables.scss";
@import "../../scss/mixins.scss";

.mainnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  position: sticky;
  top: 0px;
  padding: 0 15px;
  z-index: 1111;
  .logo {
    &__name {
      text-decoration: none;
      color: $primary-color;
      font-size: 40px;
      font-weight: 900;
      letter-spacing: 3px;
    }

    &__word {
      color: $secondary-color;
    }
  }
  &__list {
    list-style: none;
    display: inline-block;
    padding: 0 15px;
    margin: 0;
    display: flex;
    align-items: center;

    &__item {
      padding: 15px 13px;
      margin-right: 20px;
      padding-right: 15px;
      &--link {
        text-decoration: none;
        text-transform: uppercase;
        font-size: 18px;

        font-weight: 600;
        letter-spacing: 0.3px;
        color: $text-primary;
        &:hover {
          color: $secondary-color;
        }
      }
    }
  }

  .search--icon {
    font-size: 25px;
    background-color: $primary-color;
    color: #fff;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    padding: 10px;
    box-shadow: $icon-shadow;
    cursor: pointer;
  }

  .active {
    color: $secondary-color;
  }
}
