@import "./variables.scss";

.App {
  min-height: 100vh;
  background-color: $background-color-main;
}

.underline-effect a {
  padding-bottom: 5px;
  background-image: linear-gradient(to right, #65ebe7 0%, #65ebe7 100%);
  background-size: 100% 0%;
  background-repeat: no-repeat;
  background-position: left 70%;
  transition: all 0.4s ease;
  text-decoration: none;

  &:hover {
    color: #454360;
    background-size: 100% 13%;
    background-position: left 80%;
  }
}

.hover-effect {
  transition: transform 0.8s;
  &:hover {
    transform: translateY(-6px);
  }
}
